* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  gap: 30px;
}
h1 {
  text-align: center;
  padding: 20px;
}
.container1 {
  border: 2px solid black;
  display: flex;
  gap: 30px;
  padding: 10px;
}
/* to hide content */
.hidden-content {
  display: none;
}

.hidden-content.reveal-btn {
  display: block;
}
